.infos_pro_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .infos_pro_container h2, .infos_pro_container h3 {
    color: #333;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .button-field {
    background-color: #007bff;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #007bff;
    border-radius: 4px;
    background-color: #cfe3f9;
    color: rgb(0, 94, 255);
    cursor: pointer;
  }
  
  .button-field:hover {
    background-color: #6fb2f9;
  }
  
  .upload-button {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e7e7e7;
    font-size: 16px;
    cursor: pointer;
  }
  
  .upload-button:hover {
    background-color: #d7d7d7;
  }
  

  .remove-button {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ff0000;
    border-radius: 4px;
    background-color: #ffcccc;
    color: #ff0000;
    cursor: pointer;
  }
  
  .remove-button:hover {
    background-color: #ff9999;
  }
  
  .input-date-edu {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Ajoutez une marge entre les champs de date si nécessaire */
}

  .input-date-edu.label {
    margin-right: 10px; /* Ajoutez une marge entre le label et le champ de date */
}


.input-date-edu .input-field {
    width: 100%;
    transform: translateX(20px);
}

@media screen and (min-width: 768px) {
    .input-date-edu {
        flex-direction: row;
        align-items: center;
    }
    
    .label {
        flex: 1;
        margin-right: 10px;
    }
    
    .input-field {
        flex: 2;
    }
}


.input-date-exp {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Ajoutez une marge entre les champs de date si nécessaire */
}

.label {
    margin-right: 10px; /* Ajoutez une marge entre le label et le champ de date */
}


.input-date-exp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-date-exp .label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.input-date-exp .input-field {
    width: 100%;
    transform: translateX(20px);
}