@font-face {
  font-family: myFont1;
  src: url(/Users/original/Desktop/JOBs/jobs-fonts/Dela.ttf);
}
@font-face {
  font-family: myFont2;
  src: url(/Users/original/Desktop/JOBs/jobs-fonts/DM.ttf);
}
* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: helvetica;
}


img {
  width: 40px;
  border-radius: 3px;
}

body {
  background-color: #f2f2f2;
  color: var(--body_color);
}

/* *************************************** header  ******************************************/

