.donnees{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.infos{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.infos:hover{
    background-color: rgba(0, 0, 0, 0.04);
    
}
.infos_prsnl, .publications, .postes, .infos i{
    border-radius: 5px; 
    padding: 10px 0;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    cursor: pointer;
}
.infos:hover, .publications:hover, .postes:hover{
    transform: scale(1.03);
    transition: ease-out 0.2ms;
}