.donnees{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.infos, .publications, .postes{
    border: 1px solid rgba(0, 0, 0, 0.09);
    width: 100%;
    border-radius: 5px; 
    padding
    color: rgba(0, 0, 0, 0.6);
}