.Card{
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    margin-bottom: 8px;
    border-radius: 5px;
    transition: box-shadow 83ms;
    position: relative;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 20%);
}
.UserInfo{
  border-bottom: 1px solid rgba(0 0 0 0.15);
  padding: 12px 12px 16px;
}
.CardBG{
    background: url("../../../public//imgs//card-bg.svg");
    background-position: center;
    background-size: contain;
    height: 54px;
}
.UserInfo img{
    background: url("../../../public/imgs/user.svg");
    background-position: center;
    background-size: 100%;
    background-clip: content-box;
    box-sizing: border-box;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    margin: auto;
    box-shadow: none;
    position: relative; 
    right: 45%;
    top: 15px;
}