.userProfile{
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.userProfile .left{
  min-height: 50vh;
  width: 20%;
  border: 1px solid;
  

}
.userProfile .right{
  min-height: 50vh;
  width: 60%;
  border: 1px solid;

}

