.userProfile{
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.userProfile .left{
  min-height: 50vh;
  width: 20%;
  border: 1px solid ;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.06);

}
.userProfile .right{
  min-height: 50vh;
  width: 60%;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.06);
  background-color: #fff;

}

