.userProfile{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}
.userProfile .left{
  min-height: 50vh;
  width: 20%;
  border: 1px solid;

}
.userProfile .left{
  min-height: 50vh;
  width: 20%;
  border: 1px solid;

}

