.next{
    background-color: none;
    border: outset;
}
.next{
    background-color: none;
    border: outset;
}
.next button{
    padding: 10px;
}
.next button:hover{
    background-color: #16db65;
}
.back button:hover{
    background-color: #058c42;
}