.container_step_by_step {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
  }
  
.content {
    width: 100%; /* Sets the width of the container */
    background-color: #f0f2f5; /* Sets the background color to light gray */
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

  }
  .display_number {
    width: 50%;
    -star
    font-size: 2rem; /* Sets the font size of the number */
    font-weight: bold; /* Makes the font bold */
    margin-top: 30px; /* Adds margin from the top */
    text-align: center; /* Centers the text horizontally */
  }
  .display_description {
  color: black; /* Sets the text color to black */
  font-size: 1rem; /* Sets the font size of the description */
  text-align: center; /* Centers the text horizontally */
}
  .display_line {
    width: 50%; /* Stretches the line across the entire container */
    border-top: 2px solid gray; /* Creates a horizontal line */
    margin: 10px 0; /* Adds margin above and below the line */
  }
        