.container_steps {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.content .top {
  width: 1000px;
  display: flex;
  align-items: center;
}
.display_number {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.06);
  color: #058c42;
  height: 2rem;
  width: 3rem;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.display_description {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.3px;
}
.display_description_gray {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1.3px;
  color: rgba(0, 0, 0, 0.25);
}

.display_line {
  background-color: rgba(0, 0, 0, 0.06); 
  width: 100%; 
  height: 2px;
}
.display_line_active {
  background-color: #058c42; 
  width: 100%; 
  height: 2px;
}


.checkmark {
  background-color: green;
  color: white;

  border-radius: 50%;
  height: 2rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}